%footer
  .container
    .row
      .col-xs-6.col-sm-6.col-md-3.col-lg-3
        %ul.footer-links
          %li
            %a{:href => "#"} How it Works
          %li
            %a{:href => "#"} How Do I Benifit
          %li
            %a{:href => "#"} Healer Rating Algorithm
      .col-xs-6.col-sm-6.col-md-3.col-lg-3
        %ul.footer-links
          %li
            %a{:href => "#"} About Us
          %li
            %a{:href => "#"} Press
          %li
            %a{:href => "#"} Terms and Conditions
          %li
            %a{:href => "#"} FAQs
      .col-xs-6.col-sm-6.col-md-3.col-lg-3
        %ul.footer-links
          %li
            %a{:href => "#"} Blog
          %li
            %a{:href => "#"} Careers
          %li
            %a{:href => "#"} Contact Us
          %li
            %a{:href => "#"} Feedback
      .col-xs-6.col-sm-6.col-md-3.col-lg-3
        %h4.line3.center.standart-h4title
          %span Our office
        %address
          %strong Merchant.com, ABC.
          %br/
          %i.fa-icon-map-marker
          ABC, XYZ
          %br/
          ABC
          %br/
          %i.fa-icon-phone-sign
          + 1 (123) 456-7890